@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.landing-container{
	width: 100%;
	height: 91.5%;
	overflow: hidden;
	position: absolute;
	background-image: url(../images/pic-1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;	
}

.landing-title {
	font-family: "Roboto", sans-serif;
	color: white;
	text-shadow: 0.5rem 0.5rem black;
	text-align: center;
	font-size: 5rem;
}

form {
	border: 3px solid #f1f1f1;
}

.landing-table {
	border-collapse: collapse;
}

select {
	height: 2.3rem;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid black;
	box-sizing: border-box;
}

.search {
	width: 700px;
}

.platform {
	width: 70px;
	height: 10px;
}

button {
	background-color: green;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity: 0.8;
}

.imgcontainer {
	text-align: center;
	padding: 10;
	margin: 24px 0 12px 0;
}

img.image {
	width: 85%;
}

.container {
	text-align: center;
	padding: 50px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;	
}

h2 {
	text-align: center;
	font-size: 500%;
	/* margin: 100px 100px 20px 100px; */
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

#right {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.form-container {
	display: flex;
	justify-content: center;
}

.submitBtn a {
	text-decoration: none;
	color: #111;
	font-size: 1rem;
	font-weight: 600;
}


